<div class="row">
    <div class="col-md-6 col-sm-8 col-xs-12 col-centered">
        <form ng-submit="salvar(reserva);">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h1 style="display:inline;" ng-if="reserva.valor < 0">
                               Retirada do dia {{ reserva.dataReserva | date:'dd-MM-yyyy' }}
                        </h1>
                        <h1 style="display:inline;" ng-if="!reserva.valor || reserva.valor > 0">
                                Reserva <span ng-show="reserva.codigo"> do dia {{ reserva.dataReserva | date:'dd-MM-yyyy' }}</span>
                        </h1>
                        <div class="pull-right" ng-show="reserva.codigo">
                            <button type="button" class="btn btn-danger" ng-click="remover(reserva.codigo);"> Remover</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label> Saldo atual </label>
                <div class="input-group">
                    <span class="input-group-addon" id="saldoAtual">R$</span>
                    <input type="text" class="form-control" aria-describedby="saldoAtual" ng-model="saldo.valor" disabled>
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="ehPercentual"> Valor em percentual?
                </label>
            </div>
            <div class="form-group" ng-show="ehPercentual">
                <label> Percentual </label>
                <div class="input-group">
                    <span class="input-group-addon" id="valorPercentual">%</span>
                    <input type="text" class="form-control" aria-describedby="valorPercentual" ng-model="valorPercentual" ng-change="calcularValorEmPercentual()">
                </div>
            </div>
            <div class="form-group">
                <label> Valor</label>
                <div class="input-group">
                    <span class="input-group-addon" id="valorReserva">R$</span>
                    <input type="text" class="form-control" aria-describedby="valorReserva" ng-disabled="ehPercentual" ng-model="reserva.valor">
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-block btn-lg">Salvar</button>
        </form>
    </div>
</div>
