<ol class="breadcrumb">
  <li><a href="#/"> Início </a></li>
  <li><a href="#/despesas/grupos"> Grupos de Despesas </a> </li>
  <li class="active">{{grupoDespesa.descricao}}</li>
</ol>

<div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Procurar tipos de despesas..." ng-model="termoParaPesquisa">
      <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="novo()">
              <span class="glyphicon glyphicon-plus"></span>
              Novo
         </button>
      </span>
    </div>

    <div class="list-group">
      <a href="#/despesas/grupos/{{grupoDespesa.codigo}}/tipos/{{tipoDespesa.codigo}}/despesas" class="list-group-item clearfix" ng-repeat="tipoDespesa in tiposDespesas | filter:termoParaPesquisa">
          {{tipoDespesa.descricao}}
          <button type="button" class="btn btn-danger pull-right" ng-click="remover(tipoDespesa.codigo);$event.preventDefault(); $event.stopPropagation();">Remover</button>
          <button type="button" class="btn btn-success pull-right" ng-click="editar(tipoDespesa);$event.preventDefault(); $event.stopPropagation();">Editar</button>
      </a>
    </div>
</div>
